<h3>Too bad...</h3>

<p>You got this question wrong.</p>
<p>"<%= @option_value %>" was incorrect.</p>
<p>Q: The question was: "<%= @question.qn %>", and<br />
<%= @question.correct %> was the correct answer.</p>