<h1><%=t 'question.question' %></h1>

<p>Q: <%= @question.qn %></p>

<div class="choices">

  <ul>
  <% %w(correct option1 option2 option3).shuffle.each do |b| %>
    <li><%= link_to @question.try(b), answer_path(:id => @question.id, :option => b) %></li>
  <% end %>
  </ul>

</div>