<h1><%=t 'question.question' %></h1>

<div data-role="content">
  <%=t 'question.qn_short' %><%= @question.qn %>
</div>

<div data-role="content">
  <ul>
    <% %w(correct option1 option2 option3).shuffle.each do |b| %>
      <li><%= link_to @question.try(b), answer_path(:id => @question.id, :option => b) %></li>
    <% end %>
  </ul>
</div>