<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>The <a href="http://www.yanmar.com/en/">Yanmar</a> Quiz
  is a quiz where you can learn about Yanmar and its new Mission.
</p>
<p>
  Try a few questions and challenge your friends!
  Then post your score on our <a href="https://www.facebook.com/YANMAR.Official?ref=ts&fref=ts">facebook page</a>. 
</p>
<p>
  This is the sample quiz application.
</p>