<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Contact us here:
	<a href="https://www.facebook.com/YANMAR.Official?ref=ts&fref=ts">The Quiz Facebook Page</a>.
	To get help at the Quiz Wiki
	<a href="http://en.wikipedia.org/wiki/Quiz">Wiki Quiz</a>.
</p>
