<% provide(:title, 'Contact') %>
<h1><%=t 'static.contact.title' %></h1>
<p>
	<%=t 'static.contact.text1' %>
	<%= link_to t('static.contact.quizfbpage'), "https://www.facebook.com/YANMAR.Official?ref=ts&fref=ts" %>
</p>
