<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	Get help on the Yanmar Quiz at the 
	<a href="https://www.facebook.com/YANMAR.Official?ref=ts&fref=ts">Facebook page</a>
	...or take a look at the 
	<a href="http://en.wikipedia.org/wiki/Quiz">Wiki</a>.
</p>