<%# TODO shift this code into a helper to make it neater. %>
<%# Use in answer.html.erb and the home page.			 %>


<% @question = Question.last() %>
<p><%=t 'shared.take_test.quiz' %></p>
<%= link_to t('shared.take_test.take_quiz'), ask_path(:id => @question.id), class: "btn btn-large btn-primary" %>
<%= link_to t('shared.take_test.make'), make_path, class: "btn btn-large btn-primary" %>
<% if current_user.admin? %>
  <%= link_to t('shared.take_test.check_pending'), pending_path, class: "btn btn-large btn-primary" %>
<% end %>