<div data-role="header">
	  <%= link_to t('header.home'),    root_path %>
	  <h2><"=t 'title' %></h2>
  <% if signed_in? %>
	<% @question = Question.find(1) %>
    <%= link_to t('question.quiz'), ask_path(:id => @question.id) %>
  <% else %>
    <%= link_to t('header.signin'), signin_path %>
  <% end %>
</div>